{% extends "base.html" %}
{% block title %}Trang Chủ{% endblock %}
{% block content %}
<div class="container bg-light p-5">
    </style>
    <!-- Tiểu Thuyết Mới Nhất -->
    <section id="moi-nhat">
        <h2>Mới Nhất</h2>
        <div class="row">
            {% for novel in novels_news %}
            <div class = "border m-1">
                <img class="img-thumbnail" src="{{novel.cover_image}}" alt="Hình đại diện của {{novel.title}}" sizes="" srcset="" style="width:50px;">
                <a href="{% url 'novel_detail' novel_id=novel.id %}">{{novel.title}}</a>
            </div>
            {% endfor %}
        </div>
    </section>

        <!-- Tiểu Thuyết Đề Xuất -->
        <section id="de-xuat" class="">
            <h2 class="mb-3">Đề Xuất</h2>
            <div class="row row-cols-3">
                <!-- Lặp lại 4 hàng, mỗi hàng 3 cột -->
                {% for novel in hot_novels %}
                    <div class="card border border-2 border-secondary mx-auto">
                        <img src="{{ novel.cover_image }}" class="card-img-top" alt="{{ novel.title }}">
                        <div class="card-body text-center">                        
                            <h6 class="card-title text-wrap"><a href="{% url 'novel_detail' novel_id=novel.id %}">{{ novel.title }}</a></h6> <!-- Fixed link here -->
                        </div>
                    </div>
            
                {% endfor %}
            </div>
        </section>

    <!-- Top Tiểu Thuyết -->
    <section id="top-novels" class="">
        <h2 class="mb-3">Lượt Đọc Tổng</h2>
        <div class="row row-cols-3">
            <!-- Lặp lại 4 hàng, mỗi hàng 3 cột -->
            {% for novel in top_novels %}
            <div class="card border border-2 border-secondary mx-auto">
                <img src="{{ novel.cover_image }}" class="card-img-top" alt="{{ novel.title }}">
                <div class="card-body text-center">                        
                    <h6 class="card-title text-wrap"><a href="{% url 'novel_detail' novel_id=novel.id %}">{{ novel.title }}</a></h6> <!-- Fixed link here -->
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="top-like-novels" class="">
        <h2 class="mb-3">Lượt Thích</h2>
        <div class="row row-cols-3">
            <!-- Lặp lại 4 hàng, mỗi hàng 3 cột -->
            {% for novel in top_like_novels %}
            <div class="card border border-2 border-secondary mx-auto">
                <img src="{{ novel.cover_image }}" class="card-img-top" alt="{{ novel.title }}">
                <div class="card-body text-center">                        
                    <h6 class="card-title text-wrap"><a href="{% url 'novel_detail' novel_id=novel.id %}">{{ novel.title }}</a></h6> <!-- Fixed link here -->
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="top-like-novels" class="">
        <h2 class="mb-3">Theo Dõi</h2>
        <div class="row row-cols-3">
            <!-- Lặp lại 4 hàng, mỗi hàng 3 cột -->
            {% for novel in top_follow_novels %}
            <div class="card border border-2 border-secondary mx-auto">
                <img src="{{ novel.cover_image }}" class="card-img-top" alt="{{ novel.title }}">
                <div class="card-body text-center">                        
                    <h6 class="card-title text-wrap"><a href="{% url 'novel_detail' novel_id=novel.id %}">{{ novel.title }}</a></h6> <!-- Fixed link here -->
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}