{% extends "base.html" %}
{% load static %}

{% block title %}{{ novel.title }}{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/novel_detail.css' %}">

<!-- NOVEL_INFO -->
{% include 'novel_detail/_info.html' %}

<!-- NOVEL_DESCRIPTION -->
{% include 'novel_detail/_description.html' %}

<!-- CHAPTER_LIST -->
{% include 'novel_detail/_listChapter.html' %}

<!-- COMMENT_SECTION -->
{% include 'novel_detail/_comment.html' %}



<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}